<%= javascript_include_tag "gmap_custom", "data-turbolinks-track" => true %>

<%= render "shared/map_header" %>
<%= render "shared/filter_on_map" %>
<%= render "shared/direction_option" %>
<%= render "shared/search_near_by_option" %>
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map-canvas">
</div>
</form>
<%= render "shared/current_location" %>

<!-- <div class="alert alert-warning fade in">
  <a href="#" class="close" data-dismiss="alert">×</a>
  <strong>Warning!</strong> There was a problem with your network connection.
</div> -->