<%= form_for @address do |f| %>
  <div class="panel-heading">
    <%= render "shared/error_messages", object: f.object %>
    <div id="input-form">
      <div id="input-form-text" class="form-group">
        <div class="row">
          <div class="col-md-2">
            <%= f.label :title %>
          </div>
          <div class="col-md-10">
            <%= f.text_field :title, class: "address-input form-control",
              placeholder: t("address.title_input") %>
          </div>
        </div>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <div class="row">
          <div class="col-md-2">
            <%= f.label :contact %>
          </div>
          <div class="col-md-10">
            <%= f.text_field :contact, class: "address-input form-control",
              placeholder: t("address.contact_input") %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <%= f.label :address %>
          </div>
          <div class="col-md-10">
            <%= f.text_field :address, class: "address-input form-control",
              placeholder: t("address.address_input") %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <%= f.label :square %>
          </div>
          <div class="col-md-10">
            <%= f.text_field :square, class: "address-input form-control",
              placeholder: t("address.square_input") %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <%= f.label :price %>
          </div>
          <div class="col-md-10">
            <%= f.text_field :price, class: "address-input form-control",
            placeholder: t("address.price_input") %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <%= f.label :description %>
          </div>
          <div class="col-md-10">
            <%= f.text_area :description, class: "textarea address-input",
              placeholder: t("address.description_input"), style: "margin-right: 20px; margin-left: -5px;" %>
          </div>
        </div>
      </div>
    </div>

    <div id="input-form-select">
      <table>
          <tr>
            <td>
              <%= f.label "Type of post" %>
              <%= f.collection_select :house, Address.houses, :first, :first, {include_blank: t("address.house")}, 
                style: "margin-left: 28px;" %>
            </td>
          </tr>
        </table>
    </div>

    <div id="upload-images-form" data-images="<%= f.object.images.to_json %>">
      <div class="btn-group">
        <a class="btn-action-show-images btn btn-info toggler disabled"
          data-toggle="modal">
          <i class="glyphicon glyphicon-chevron-right"></i>
        </a>

        <%= link_to_add_fields t("address.add_image"), f, :images %>
      </div>

      <div id="images-form" style="display: none">
        <ul class="nav nav-tabs" id="tab-add-image">
        </ul>
        <div class="tab-content">
        </div>
      </div>
    </div>

    <div id="map-add-address" style="display: block">
      <div id="latlng-box">
        <%= f.label :latitude %>
        <%= f.text_field :lat, readonly: true, id: "form-lat", class: "latlng-input" %>
        <%= f.label :longitude %>
        <%= f.text_field :lng, readonly: true, id: "form-lng", class: "latlng-input" %>
      </div>
      <input id="pac-input" class="controls" house="text">
      <div id="map-canvas"></div>
    </div>
    <br>
    <%= f.submit (f.object.new_record? ? t("address.add_address") :
      t("address.save_address")), class: "btn btn-primary"%>
  </div>
<% end %>
