<%= render "shared/filter" %>
<%= render "shared/search_map" %>

<% @regions.each do |add| %>
  <div class="main-content">
    <div class="div-title">
      <span class="glyphicon glyphicon-home"></span>
    </div>
    <%= render partial: "adds_by_province", collection: add %>
  </div>
<% end %>

<div id="visited">
  <div id="visited-title">
    <span class="fa fa-history"></span>
    <strong id="strong"><%= t "address.visited_link" %></strong>
  </div>
</div>

<div>
  <%= render "visited" %>
</div>
