<div id="primary">
  <div class="address-info">
    <div class="title">
      <h2><%= @address.title %></h2>
      <div id="show-score" data-score="<%= @address.average_point %>"></div>
      <p>
        <%= t "posted_at" %>
        <%= @address.created_at.to_date.to_formatted_s :long_ordinal %>
      </p>
    </div>

    <div class="address-detail">
      <div class="list-info">
        <div class="row">
          <div class="col-sm-5 col-md-5" id="fix_position_col_5">
            <%= link_to_avatar @form_user, "img-thumbnail" %>
          </div>

          <div class="col-sm-7 col-md-7">
            <p>
              <span class="labels">
                <i class="glyphicon glyphicon-envelope"
                  data-address-id="<%= @address.id %>">
                </i>
                <%= t "Email" %>:
              </span>
              <span class="info-line"> <%= @address.user.email %></span>
            </p>

            <p>
              <span class="labels">
                <i class="glyphicon glyphicon-align-justify"
                  data-address-id="<%= @address.id %>">
                </i>
                <%= t "Type" %>:
              </span>
              <span class="info-line"> <%= @address.house %></span>
            </p>

            <p>
              <span class="labels">
                <i class="glyphicon glyphicon-map-marker icon-map"
                  data-address-id="<%= @address.id %>" title="<%= t "address.show_map" %>">
                </i>
                <%= t "address_contact" %>:
              </span>
              <span class="info-line"> <%= @address.address %></span>
            </p>

            <p>
              <span class="labels">
                <i class="glyphicon glyphicon-earphone"></i>
                <%= t "phone" %>:
              </span>
              <span class="info-line"> <%= @address.contact %></span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="address_description">
      <p><%= @address.description %></p>
    </div>

    <div class="image-addresses">
      <%= render "addresses/carousel", address: @address %>
    </div>
  </div>

  <div class="review-area">
    <%= render "review_area" %>
  </div>
</div>

<% content_for :right do %>
  <div id="right-content">

    <div id="bnt-box" class="row">
      <button class="btn btn-danger col-md-10 col-md-offset-1">
        <%= t "button.add_address" %>
      </button>
      <button class="btn btn-danger col-md-10 col-md-offset-1">
        <%= t "button.quick_guide" %>
      </button>
    </div>
    <div id="recent-address-box" class="row">
      <div id="right-content-title">
        <span class="glyphicon glyphicon-home"></span>
          <strong><%= t "recent_address" %></strong>
      </div>
      <div >
        <%= render partial: "recent_address", collection: @recent_addresses %>
      </div>
    </div>
  </div>
<% end %>
